{% extends "base.html" %}

{% block content %}

<h3>Here are your current cronjobs:</h3>
<table>
    <th>minute</th>
    <th>hour</th>
    <th>day</th>
    <th>month</th>
    <th>day in week</th>
    <th>command</th>
    <th>log</th>
    <th>email</th>
    {% for job in cron_jobs %}
    <tr>
        <td>job.minute</td>
        <td>job.hour</td>
        <td>job.day</td>
        <td>job.day_of_month</td>
        <td>job.day_of_week</td>
        <td><a href="{% url edit forloop.counter0 %}">job.command</a></td>
    </tr>
    {% endfor %}
<table>
{% endblock %}
